<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.writing }}"><a href="{{ site.baseurl }}/writing" title="Writing">Writing</a></li>
		<li class="{{ page.speaking }}"><a href="{{ site.baseurl }}/speaking" title="Speaking">Speaking</a></li>
		<li class="{{ page.notes }}"><a href="{{ site.baseurl }}/projects" title="Projects">Projects</a></li>
		<li class="{{ page.notes }}"><a href="{{ site.baseurl }}/notes" title="Blog">Blog</a></li>
		<li class="{{ page.press }}"><a href="{{ site.baseurl }}/press" title="Press">Press</a></li>
		<li class="{{ page.cv }}"><a href="{{ site.baseurl }}/cv" title="Resume">Resume</a></li>
		<li class="{{ page.contact }}"><a href="{{ site.baseurl }}/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="{{ site.baseurl }}/">Melody Kramer</a></h3>
</div> <!-- /header -->
